<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ariwilson.seismowallpaper"
    android:versionCode="3"
    android:versionName="1.02">
  <application android:icon="@drawable/icon" android:label="@string/app_name">
	<service 
	    android:name="SeismoWallpaper"
	    android:enabled="true"
	    android:icon="@drawable/icon"
	    android:label="@string/wallpaper_name"
	    android:permission="android.permission.BIND_WALLPAPER">
	    <intent-filter android:priority="1" >
	      <action android:name="android.service.wallpaper.WallpaperService" />
	    </intent-filter>
	    <meta-data 
	      android:name="android.service.wallpaper" 
	      android:resource="@xml/wallpaper" />
	</service>
	<activity 
	    android:name=".SeismoWallpaperSettings"
      android:label="@string/wallpaper_name" 
      android:exported="true" />
  </application>
  <uses-sdk android:minSdkVersion="14" />
</manifest> 
